@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');

.box-header {
    position: fixed;
    top: 50%;
    right: 5rem;
    transform: translateY(-50%);

    .box-circle-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1b7850;
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        position: relative;
        z-index: 1;
        cursor: pointer;

        i {
            color: #FFFFFF;
            font-size: 1.5rem;
        }
    }

    .box-navigation {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        .box-navigation-list {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            li {
                display: flex;
                background-color: #104e5a;
                border-radius: 50%;
                position: absolute;
                transition: all .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    scale: 1.1;
                    transition: scale .3s;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 3rem;
                    height: 3rem;
                    color: white;
                }
            }

            &.active>.box-subHouse {
                transform: translate(-4.5rem, 0rem);
            }

            &.active>.box-subFill {
                transform: translate(0, -4.5rem);
            }
        }
    }
}

.box-container {
    .box-home {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: "Belanosima", sans-serif;
        background: radial-gradient(circle, rgba(40, 36, 43, 1) 0%, rgba(0, 0, 0, 1) 100%);
        color: #ffffff;

        .box-home-content {
            .box-introduction {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.3rem;
            }

            .box-stack-tech {
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 1rem;
                font-size: 5.8rem;
                text-transform: uppercase;
                font-weight: 600;

                .box-icons {
                    display: flex;
                    justify-content: center;

                    ul {
                        display: flex;
                        gap: 1rem;

                        li {
                            display: flex;
                            align-items: center;
                            transition: .5s;

                            a {
                                text-decoration: none;
                                color: #fef3b7;
                                font-size: 2rem;
                                transition: .5s;
                            }
                        }

                        li:hover {
                            transform: translateY(-1.5rem);

                            .bi-linkedin {
                                color: #0a66c2;
                            }

                            .bi-github {
                                color: #e6edf3;
                            }

                            .bi-envelope-at {
                                color: #ca4337;
                            }

                            .bi-file-earmark-text-fill {
                                color: #fffeff;
                            }
                        }
                    }
                }
            }

            .box-role {
                h1 {
                    text-transform: uppercase;
                    font-size: 8rem;
                    font-weight: 600;
                }

                .box-my-resume {
                    display: flex;
                    justify-content: end;
                    width: 73%;

                    .box-text {
                        display: inline-block;
                        text-align: justify;
                        width: 60%;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    .box-project {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: linear-gradient(0deg, rgba(185, 175, 145, 1) 0%, rgba(210, 191, 233, 1) 100%);


    }
}